APP_NAME="mini-Rag"
APP_VERSION="0.1.0"
API_KEY="your_api_key_here"
APP_DESCRIPTION="A mini Retrieval-Augmented Generation (RAG) application built with FastAPI."

FILE_ALLOWED_EXTENSIONS=[".txt", ".pdf", ".docx"]
FILE_MAX_SIZE_MB=25 #mb
FILE_DEFAULT_CHUNK_SIZE=1 #in mb
